<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashmals.herophone" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/forestize_icon"
        android:label="@string/app_name"
        android:showOnLockScreen="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CallActivity"
            android:screenOrientation="sensorPortrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
